<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Wrestler Statistics API</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/vws_fav.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous">


    </head>
    <div class="container">
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home </a>
                </li>
            </ul>
        </nav>
    </div>

    <body>
        {% block body %}
        {% endblock %}
    </body>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Built by Nicholas Anthony</span>
        </div>
    </footer>
</html>