<!-- Jinja reads main template and inserts body -->
{% extends "layout.html" %}
{% block body %}

<h1 class="text-info">API Usage</h1>
<hr class="bg-warning" />
<p class="text-white">
  This page will serve as a tutorial/documentation for the API usage.  
  This will include the GUI and direct API access.
</p>
<p class="text-white">---</p>
<p class="text-white">
  Main url: 127.0.1:5000/api/v1
</p>

<h3 class="text-info">GET methods</h3>
<hr class="bg-warning" />

<h5 class="text-info">Teams</h5>
<p class="text-white">Use main url + '/teams' to return all teams alphabetically.</p>

<h5 class="text-info">Wrestlers</h5>
<p class="text-white">Use main url + '/wrestlers' to return all wrestlers alphabetically.</p>

<h5 class="text-info">Wrestler Stats</h5>
<p class="text-white">Use main url + '/wrestlerstats/<"string:wid">'
   to get <strong>average</strong> statistics for a wrestler.  Use the WID found from all 
   wrestlers request url formatted.  
   <br />
   For example, Nick Florida 141 becomes 
   nick-florida-141 when inserted into the url GET request as <"string:wid">.</p>

{% endblock %}